{% extends 'base.html' %}
{% load static %}
{% block content %}

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<form method="POST" action="{% url 'homepage:register' %}">
    <div class="container" style="margin-left: 20%;text-align: justify;">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <br>
    </div>
    <center><button class="submit" type="submit">Register</button></center>
</form>

{% endblock %}