{% extends 'base.html' %}
{% load static %}
{% block content %}


{% if user.is_authenticated %}
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <div class="container">
        <div class="text-center">
            <h1>
                Welcome, {{ user.username }}
            </h1>
            <br>
            <a href="{% url 'logout' %}"><button class="submit">Log Out</button></a>
        </div>
    </div>
{% else %}
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <div class="container">
        <div class="text-center">
            <h1>
                Hello!
            </h1>
            <br/>
            <p>Please Log In.</p>
            <br>
            <a href="{% url 'login' %}"><button class="submit">Log In</button></a>
        </div>
    </div>
{% endif %}


{% endblock %}
